@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;

:host {
  width: 100%;
  height: auto;       
  @include m.flex-col-center();

  margin: 45px 0 0 0; 

  @include m.respond-normal {
    margin: 20px 0 45px 0;
  }

  @include m.respond-laptop {
    padding-left: 30px;
    flex: 1;
    min-height: 0;
    margin: 0;         
    justify-content: center;
  }

  @include m.respond-xxl {
    margin: 0;
}
}