@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
:host{
    width: 100%;
    height: auto;
   /*  display: flex;
    align-items: center;
    flex-direction: column; */
    @include m.flex-col-center();
 
    margin-top: 45px;
}