@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:Host {
  width: 100%;
  max-width: 780px;
  height: 310px;

  @include m.flex();
  flex-wrap: wrap;
  padding: 0 16px;
  gap: clamp(10px, 3.75vw - 5px, 40px);

  @include m.respond-normal {
    align-self: flex-end;
  }

  @include m.respond-large {
    padding-top: 110px;
  }

}

.skill-item {
  @include m.flex(center, center, column);
  gap: 12px;

  img {
    width: clamp(69px, 3.5vw + 55px, 86px);
    height: clamp(69px, 3.5vw + 55px, 86px);
    transition: transform 200ms ease;

    @media(max-width:700px) {
      width: 46px;
      height: 46px;
    }
  }

  span {
    font-family: f.$font-second;
    color: c.$light-beige;

    @media(max-width:400px) {
      font-size: 14px;
    }

  }

  &:hover {
    img {
      transform: scale(1.3);
    }
  }
}