@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:Host {
  width: 100%;
  max-width: 550px;
  height: 310px;
  @include m.flex();
  flex-wrap: wrap;
  padding: 0 16px;
  gap: clamp(10px, 3.75vw - 5px, 40px);


  @media (max-height: 700px) {
    height: auto;           
    gap: 15px;        
  }

  @include m.respond-mid {
    max-width: 780px; 
  }

  @include m.respond-normal {
    margin: 20px 20px 0 0;
    align-self: flex-end;
  }

  @include m.respond-laptop{
    margin-right: 100px;
  }

  @include m.respond-large {
    padding-top: 70px;
  }

  @include m.respond-xxl {
    max-width: 1070px;
    margin-top: -45px;
    margin-right: -32px;
  }
}

.skill-item {
  @include m.flex(center, center, column);
  gap: 12px;
  text-decoration: none;
  outline: none;

  @media (max-height: 700px) {
    gap: 8px;
  }

  img {
    width: clamp(60px, 2.5vw + 55px, 86px);
    height: clamp(60px, 2.5vw + 55px, 86px);
    transition: transform 200ms ease;

    @media (max-height: 700px) {
      width: 60px !important;
      height: 60px !important;
    }

    @include m.respond-mid {
      width: 90px;
      height: 90px;
    }

    @include m.respond-large {
      width: 100px;
      height: 100px;
    }

    @include m.respond-xxl {
      width: 115px;
      height: 115px;
    }
  }

  span {
    font-family: f.$font-second;
    color: c.$light-beige;

    @media (max-height: 700px) {
      font-size: 13px;
    }

    @media(max-width:400px) {
      font-size: 14px;
    }
  }

  &:hover, 
  &:focus {
    img {
      transform: scale(1.3);
    }
    
    span {
      color: white; 
    }
  }

  &:focus-visible {
    outline: 2px solid c.$light-beige; 
    outline-offset: 8px;
    border-radius: 8px;
  }
}