<a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank" class="skill-item">
    <img src="assets/img/icons/skill-icons/html.svg" alt="HTML icon">
    <span>HTML</span>
</a>

<a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank" class="skill-item">
    <img src="assets/img/icons/skill-icons/css.svg" alt="CSS icon">
    <span>CSS</span>
</a>

<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" class="skill-item">
    <img src="assets/img/icons/skill-icons/js.svg" alt="JavaScript icon">
    <span>JavaScript</span>
</a>

<a href="https://www.typescriptlang.org/" target="_blank" class="skill-item">
    <img src="assets/img/icons/skill-icons/ts.svg" alt="TypeScript icon">
    <span>TypeScript</span>
</a>

<a href="https://angular.dev/" target="_blank" class="skill-item">
    <img src="assets/img/icons/skill-icons/angular.svg" alt="Angular icon">
    <span>Angular</span>
</a>

<a href="https://firebase.google.com/" target="_blank" class="skill-item">
    <img src="assets/img/icons/skill-icons/fire.svg" alt="Firebase icon">
    <span>Firebase</span>
</a>

<a href="https://git-scm.com/" target="_blank" class="skill-item">
    <img src="assets/img/icons/skill-icons/git.svg" alt="Git icon">
    <span>Git</span>
</a>

<a href="https://aws.amazon.com/what-is/restful-api/" target="_blank" class="skill-item">
    <img src="assets/img/icons/skill-icons/api.svg" alt="REST API icon">
    <span>REST-API</span>
</a>

<a href="https://www.scrum.org/" target="_blank" class="skill-item">
    <img src="assets/img/icons/skill-icons/scrum.svg" alt="Scrum icon">
    <span>Scrum</span>
</a>

<a href="https://m3.material.io/" target="_blank" class="skill-item">
    <img src="assets/img/icons/skill-icons/material.svg" alt="Material icon">
    <span>Material <br> Design</span>
</a>

