@use 'style-varibles/mixins' as m;

button {
  background-color: transparent;
  border: none;
}

.language-icons {
  min-width: 40px;
  display: inline-flex;
  justify-content: center;
}

.lang-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;

 

  &:focus {
    outline: none;
  }
}