<section class="language-icons">
  @if (isGerman) {
    <button type="button" 
            (click)="toggleLanguage()" 
            class="lang-btn" 
            aria-label="Switch to English">
      <img
        #deIcon
        [src]="isDark() ? 'assets/img/icons/iconTransBlack/deBlack.svg' : 'assets/img/icons/iconsTransWhite/deBtnWhite.svg'"
        (mouseenter)="deIcon.src = isDark() ? 'assets/img/icons/iconTransBlack/deBlackOrange.svg' : 'assets/img/icons/iconsTransWhite/deBtnOrange.svg'"
        (mouseleave)="deIcon.src = isDark() ? 'assets/img/icons/iconTransBlack/deBlack.svg' : 'assets/img/icons/iconsTransWhite/deBtnWhite.svg'"
        alt="German Language Icon"
      />
    </button> 
  } @else {  
    <button type="button" 
            (click)="toggleLanguage()" 
            class="lang-btn" 
            aria-label="Auf Deutsch umstellen">
      <img
        #enIcon
        [src]="isDark() ? 'assets/img/icons/iconTransBlack/enBlack.svg' : 'assets/img/icons/iconsTransWhite/enBtnWhite.svg'"
        (mouseenter)="enIcon.src = isDark() ? 'assets/img/icons/iconTransBlack/enBlackOrange.svg' : 'assets/img/icons/iconsTransWhite/enBtnOrange.svg'"
        (mouseleave)="enIcon.src = isDark() ? 'assets/img/icons/iconTransBlack/enBlack.svg' : 'assets/img/icons/iconsTransWhite/enBtnWhite.svg'"
        alt="English Language Icon"
      />
    </button>
  }
</section>
 

<!-- Short Version -->
<!-- <section class="language-icons">
  <button type="button" 
          (click)="toggleLanguage()" 
          [aria-label]="isGerman ? 'Switch to English' : 'Auf Deutsch umstellen'">
    <img
      #langIcon
      [src]="isDark() 
        ? 'assets/img/icons/iconTransBlack/' + (isGerman ? 'deBlack' : 'enBlack') + '.svg' 
        : 'assets/img/icons/iconsTransWhite/' + (isGerman ? 'deBtnWhite' : 'enBtnWhite') + '.svg'"
      (mouseenter)="langIcon.src = isDark() 
        ? 'assets/img/icons/iconTransBlack/' + (isGerman ? 'deBlackOrange' : 'enBlackOrange') + '.svg' 
        : 'assets/img/icons/iconsTransWhite/' + (isGerman ? 'deBtnOrange' : 'enBtnOrange') + '.svg'"
      (mouseleave)="langIcon.src = isDark() 
        ? 'assets/img/icons/iconTransBlack/' + (isGerman ? 'deBlack' : 'enBlack') + '.svg' 
        : 'assets/img/icons/iconsTransWhite/' + (isGerman ? 'deBtnWhite' : 'enBtnWhite') + '.svg'"
      [alt]="(isGerman ? 'German' : 'English') + ' Language Icon'"
    />
  </button>
</section> -->