<div class="legal-page">
  <div class="legal-content">
    <app-header></app-header>

    <main class="legal-page">
      <div class="legal-content">

        <header>
          <h1>{{ 'PRIVACY.TITLE' | translate }}</h1>

          <app-back-flash>
            <a href="#hero">
              <div class="flash-height flash-left">
                <img src="assets/img/icons/contact/flash-high.svg" alt="Icon flash Height" class="flash-icon">
                <div class="flash-line"></div>
              </div>
            </a>
          </app-back-flash>
        </header>

        <section>
          <h2>{{ 'PRIVACY.GENERAL_TITLE' | translate }}</h2>
          <p>{{ 'PRIVACY.GENERAL_TEXT' | translate }}</p>
        </section>

        <section>
          <h2>{{ 'PRIVACY.RESPONSIBLE_TITLE' | translate }}</h2>
          <ul>
            <li>{{ 'PRIVACY.NAME' | translate }}</li>
            <li>{{ 'PRIVACY.ADDRESS_LINE1' | translate }}</li>
            <li>{{ 'PRIVACY.ADDRESS_LINE2' | translate }}</li>
          </ul>
        </section>

        <section>
          <h2>{{ 'PRIVACY.DATA_TITLE' | translate }}</h2>
          <p>{{ 'PRIVACY.DATA_TEXT' | translate }}</p>
        </section>

        <section>
          <h2>{{ 'PRIVACY.FORM_TITLE' | translate }}</h2>
          <p>{{ 'PRIVACY.FORM_TEXT' | translate }}</p>
        </section>

        <section>
          <h2>{{ 'PRIVACY.PURPOSE_TITLE' | translate }}</h2>
          <p>{{ 'PRIVACY.PURPOSE_TEXT' | translate }}</p>
        </section>

        <section>
          <h2>{{ 'PRIVACY.SHARING_TITLE' | translate }}</h2>
          <p>{{ 'PRIVACY.SHARING_TEXT' | translate }}</p>
        </section>

        <section>
          <h2>{{ 'PRIVACY.SECURITY_TITLE' | translate }}</h2>
          <p>{{ 'PRIVACY.SECURITY_TEXT' | translate }}</p>
        </section>

        <section>
          <h2>{{ 'PRIVACY.RIGHTS_TITLE' | translate }}</h2>
          <p>{{ 'PRIVACY.RIGHTS_TEXT' | translate }}</p>
        </section>

        <section>
          <h2>{{ 'PRIVACY.CONTACT_TITLE' | translate }}</h2>
          <p>
            {{ 'PRIVACY.CONTACT_TEXT' | translate }}
            <a href="mailto:{{ 'PRIVACY.EMAIL' | translate }}">
              {{ 'PRIVACY.EMAIL' | translate }}
            </a>
          </p>
        </section>

        <section>
          <p>
            {{ 'PRIVACY.DATE' | translate }}:
            {{ 'PRIVACY.DATE_VALUE' | translate }}
          </p>
        </section>
        <app-back-flash class="back-flash-desk">
          <a href="#hero">
            <div class="flash-height flash-left">
              <img src="assets/img/icons/contact/flash-high.svg" alt="Icon flash Height" class="flash-icon">
              <div class="flash-line"></div>
            </div>
          </a>
        </app-back-flash>
      </div>
    </main>

    <section class="footer-content">
      <app-two-icons></app-two-icons>
      <app-footer></app-footer>
    </section>
  </div>
</div>