@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {
    @include m.flex(center, center, column);
    width: 100%;
    height: 259px;
    flex-direction: column;
    padding: 0 16px;


    @include m.respond-normal {
        @include m.flex(center, flex-start, center)
    }
}

.title {
    font-size: clamp(33px, 5vw + 1rem, 80px);
    color: c.$titleName-white;
    font-weight: 700;
    font-family: f.$font-eczar;

}

.skill-box {

    max-width: 600px;
    /*  margin: 0 8px; */
    padding: 16px;
    background-color: #679aac;
    border-radius: 4px;


    @include m.respond-normal {
        margin: 0px;
    }
}

span {
    font-family: f.$font-second;
    color: c.$light-beige;
    font-size: clamp(16px, 1.25vw + 12px, 20px);
}