$dark-blue: #679AAC;
$light-beige:#F8F7E5;
$accent-orange: #f39200;
$orange-two:#F9AF42;
$orange-four:#FF834F;
$about-beige:#6f6e69;
$skill-black:#1D1D1D;
$titleName-white: #F8F7E5;
$bg-overlay: rgba(0, 0, 0, 0.3);