$font-second: 'QuickFont', monospace;   
$font-premier: 'SpaceFont', monospace; 
$font-eczar: 'EczarFont', monospace;
$font-karla: 'KarlaFont', monospace;
$font-josefine: 'JosefineFont', monospace;
$font-josefineLight: 'JosefineLightFont', monospace;


