@use "variables" as v;
// Global
@mixin main-container {
  width: 100%;
  max-width: 1920px; 
  margin: 0 auto;
}

@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Media

// Ab 321px
@mixin respond-xs {
  @media (min-width: v.$screen-xs) {
    @content;
  }
}

//360
@mixin respond-xsm360 {
  @media (min-width: v.$screen-xsm360) {
    @content;
  }
}

// 576px (Smartphones Landscape)
@mixin respond-sm {
  @media (min-width: v.$screen-sm) {
    @content;
  }
}

//  768px 
@mixin respond-mid {
  @media (min-width: v.$screen-mid) {
    @content;
  }
}

// 992px 
@mixin respond-normal {
  @media (min-width: v.$screen-normal) {
    @content;
  }
}

//  1200px 
@mixin respond-large {
  @media (min-width: v.$screen-large) {
    @content;
  }
}

//  Ab 1400px )
@mixin respond-xl {
  @media (min-width: v.$screen-xl) {
    @content;
  }
}

// Ab 1600px
@mixin respond-xxl {
  @media (min-width: v.$screen-xxl) {
    @content;
  }
}

// Ab 1920px (FullHD / Ultra Wide)
@mixin respond-xxxl {
  @media (min-width: v.$screen-xxxl) {
    @content;
  }
}

//max mixims

@mixin respond-smMax {
  @media (max-width: v.$screen-Max) {
    @content;
  }
}

/* @mixin metallic-gradient($base-color) {
  $light-flare: lighten($base-color, 8%);
  $dark-edge: darken($base-color, 6%);

  background: radial-gradient(
    circle at 30% 40%, 
    $light-flare 0%, 
    $base-color 60%, 
    $dark-edge 100%
  );
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      135deg, 
      rgba(255, 255, 255, 0.05) 0%, 
      rgba(255, 255, 255, 0) 50%
    );
    pointer-events: none; 
  }
} */

/* @mixin mobileHeader {
  @media (max-width: 576px) {
    @content; 
  }
} */

/* Mixin Media Quaries */