@use "variables" as v;

// Global
@mixin main-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

/* @mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
} */

@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin section-layout($bg: transparent) {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: clamp(1px, 2vw, 50px);
  width: 100%;
  height: calc(100vh - 72px);
  background-color: $bg;

  // 576px Breakpoint
  @include respond-sm {
    height: calc(100vh - 88px);
  }

}

// Media

// Ab 321px
@mixin respond-xs {
  @media (min-width: v.$screen-xs) {
    @content;
  }
}

//360
@mixin respond-xsm360 {
  @media (min-width: v.$screen-xsm360) {
    @content;
  }
}

// 576px (Smartphones Landscape)
@mixin respond-sm {
  @media (min-width: v.$screen-sm) {
    @content;
  }
}

//  768px 
@mixin respond-mid {
  @media (min-width: v.$screen-mid) {
    @content;
  }
}

// 992px 
@mixin respond-normal {
  @media (min-width: v.$screen-normal) {
    @content;
  }
}

//  1200px 
@mixin respond-large {
  @media (min-width: v.$screen-large) {
    @content;
  }
}

//  Ab 1400px )
@mixin respond-xl {
  @media (min-width: v.$screen-xl) {
    @content;
  }
}

// Ab 1600px
@mixin respond-xxl {
  @media (min-width: v.$screen-xxl) {
    @content;
  }
}

// Ab 1920px (FullHD / Ultra Wide)
@mixin respond-xxxl {
  @media (min-width: v.$screen-xxxl) {
    @content;
  }
}

// Mixins more-skill
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}