@use "variables" as v;
@use 'colors' as c; 
@use 'fonts' as f;

@mixin main-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

@mixin section-layout($bg: transparent) {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: clamp(1px, 2vw, 50px);
  width: 100%;
  height: calc(100vh - 72px);
  background-color: $bg;

  // 576px Breakpoint
  @include respond-sm {
    height: calc(100vh - 88px);
  }
} 

@mixin flex($justify: center, $align: center, $direction: row, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// width height
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// Ab 321px
@mixin respond-xs {
  @media (min-width: v.$screen-xs) {
    @content;
  }
}

//360
@mixin respond-xsm360 {
  @media (min-width: v.$screen-xsm360) {
    @content;
  }
}

// 576px (Smartphones Landscape)
@mixin respond-sm {
  @media (min-width: v.$screen-sm) {
    @content;
  }
}

//  768px 
@mixin respond-mid {
  @media (min-width: v.$screen-mid) {
    @content;
  }
}

// 992px 
@mixin respond-normal {
  @media (min-width: v.$screen-normal) {
    @content;
  }
}

//  1024px 
@mixin respond-laptop {
  @media (min-width: v.$screen-laptop) {
    @content;
  }
}

//  1200px 
@mixin respond-large {
  @media (min-width: v.$screen-large) {
    @content;
  }
}

//  Ab 1400px )
@mixin respond-xl {
  @media (min-width: v.$screen-xl) {
    @content;
  }
}

// Ab 1600px
@mixin respond-xxl {
  @media (min-width: v.$screen-xxl) {
    @content;
  }
}

// Ab 1920px (FullHD / Ultra Wide)
@mixin respond-xxxl {
  @media (min-width: v.$screen-xxxl) {
    @content;
  }
}

// Mixins more-skill
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// image float
@mixin float-animation {
  animation: float 1.5s ease-in-out infinite;

  @keyframes float {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(5px);
    }

    100% {
      transform: translateY(0);
    }
  }
}

@mixin rotate-ring {
  animation: rotateRing 10s linear infinite;

  @keyframes rotateRing {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

@mixin card-icons-reference {
  grid-column: 2;
  grid-row: 1;
  align-self: start;
  width: 30px;
  opacity: 0;
  transition: opacity 0.15s ease;
  margin-left: 10px;
  display: none;

  @include respond-laptop {
    display: block;
  }
}

@mixin border-white-all($color) {
  border: 1px solid $color;
  border-radius: 1px;
}
  
@mixin font40-eczar($font) {
  font-size: 40px;
  font-family: $font;
  line-height: 1.1;
}

@mixin color-font {
  color: c.$light-beige;
  font-family: f.$font-second;
}