$max-width-content: 192px; 
$breakpoint-mobile: 768px;
$padding-0-10: 0 10px;
$layout-max-width: 1580px;

/* Header */
$header-height: 88px;
$header-gap: 15px;
$header-left-gap: 15px;
$header-nav-gap: 20px;

$social-icon-size: 30px;
$transition-fast: 0.2s ease;
$hover-scale: scale(1.1);
$header-nav-margin-right: 20px;










/* Media Queries */
$screen-small: 576px;
$screen-mid: 768px;
$screen-normal: 992px;
$screen-large: 1200px;

