
$max-width-content: 192px; 
$padding-0-10: 0 10px;
$layout-max-width: 1580px;
$spacing-margin-top: 20px;

/* Media Quaries */
$screen-xs: 321px;
$screen-xsm360: 360px;
$screen-sm420: 420px; 
$screen-sm500: 500px; 
$screen-sm: 576px;   
$screen-sm650: 650px;  
$screen-mid: 768px;  
$screen-normal: 992px;
$screen-laptop: 1024px;
$screen-large: 1200px; 
$screen-xl: 1400px; 
$screen-xxl:1600px;
$screen-xxxl:1920px; 

/* Header */
$header-height: 88px;
$header-gap: 15px;
$header-left-gap: 15px;
$header-nav-gap: 20px;

$social-icon-size: 30px;
$transition-fast: 0.2s ease;
$hover-scale: scale(1.1);
$header-nav-margin-right: 20px;


/* UI */
$btn-max-width: 135px;





