@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
:host   {
    width: 98%;
    max-width: 120rem;
    display: block;
    align-self: center; 
}

section {
  width: 100%;
  background-color:c.$dark-blue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
