:host   {
    width: 98%;
    max-width: 120rem;
    display: block;
    align-self: center; 
}

section {
  width: 100%;
  background-color: green;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
