@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {
  @include m.flex(flex-start, flex-start, column);
  margin: -5px 0 5px 0;
  max-width: 100%;
   color: c.$light-beige;
  @media (min-width: 1241px) {
    margin-top: 30px;
  }
}

p {
  white-space: nowrap;
  font-size: 20px;
  font-family: f.$font-second;
  line-height: 1.1;
  margin-bottom: 10px;

  @include m.respond-mid {
    font-size: 25px;
  }

  @include m.respond-normal {
    font-size: 48px;
  }

    @include m.respond-xxl {
    font-size: 80px;
  }
  

}

h1,h2 {
  font-family: f.$font-eczar;
  font-weight: bold;
  margin: 0;
  line-height: 0.85;
  font-size: 50px;

  @include m.respond-mid {
    font-size: 68px;
  }

  @include m.respond-mid {
    font-size: 96px;
  }

      @include m.respond-xxl {
    font-size: 120px;
  }
}

.title{
@include m.slide-in(-100px)
}

h1:first-of-type {
  margin-top: 5px;
}

h1:last-of-type {
  margin-bottom: 5px;
}