@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15px; 
  
  margin-bottom: 5px;
  max-width: 100%; 
  overflow: hidden;

  // AB 1241px (Große Monitore):
  @media (min-width: 1241px) {
    margin-top: 100px; 
  }

  p {
    white-space: nowrap;
    font-size: clamp(20px, 4vw, 48px);
    font-family: f.$font-second;
    margin: 0;
    line-height: 1.1;
  }

  h1 {
    font-family: f.$font-eczar;
    font-weight: bold;
    margin: 0;
    line-height: 0.85; 
    font-size: clamp(50px, 8vw, 96px);
  }
}

  h1:first-of-type {
    margin-top:5px; 
  }

  h1:last-of-type {
    margin-bottom: 5px;
  }
