@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {
  /*  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; */
  @include m.flex(flex-start, flex-start, column);
  margin:15px 0 5px 0;
  max-width: 100%;

  @media (min-width: 1241px) {
    margin-top: 30px;
  }
}

p {
  white-space: nowrap;
  font-size: clamp(20px, 4vw, 48px);
  font-family: f.$font-second;
  line-height: 1.1;
  margin: 0 0 10px 4px; 
}

h1 {
  font-family: f.$font-eczar;
  font-weight: bold;
  margin: 0;
  line-height: 0.85;
  font-size: clamp(50px, 8vw, 96px);
  margin-left:4px;
}

h1:first-of-type {
  margin-top: 5px;
}

h1:last-of-type {
  margin-bottom: 5px;
}