@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;

:host {

    @include m.respond-sm {
        width: 74px;
        display: flex;
        justify-content: flex-start;
    }
}

.section-indicator {
    @include m.flex(center, center, column);
    gap: 5px;
    display: none;  
    width: 20px;

    @include m.respond-sm {
        display: flex;
    }
}

.section-indicator img {
    width: 10px;
    height: 10px;
}

.black-icon {
    filter: brightness(0);
}

.orange-icon {
    filter: invert(56%) sepia(93%) saturate(2465%) hue-rotate(1deg) brightness(104%) contrast(106%);
}