@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;

:host {
  display: none;

  @include m.respond-sm {
    display: flex;
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    justify-content: center;
    align-items: center;
  }
}

.section-indicator {
  @include m.flex(center, center, column);
  gap: 5px;
  width: 20px;
}

.section-indicator img {
  width: 10px;
  height: 10px;
}

.black-icon {
  filter: brightness(0);
}

.orange-icon {
  filter: invert(56%) sepia(93%) saturate(2465%) hue-rotate(1deg) brightness(104%) contrast(106%);
}