<div class="section-indicator">
  @for (id of sections; track id) {
    <div (click)="scrollTo(id)" style="cursor: pointer">
      
      @if (activeSection() === id) {
        <img 
          src="assets/img/icons/pointerNav/pointer-nav-karo.svg" 
          alt="current section" 
          [class.orange-icon]="color() === 'black'" /> 
      } @else {
        <img 
          [src]="circleImg()" 
          alt="section" 
          [class.black-icon]="color() === 'black'" />
      }

    </div>
  }
</div>