@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {
    display: block;
    width: 100%;
    max-width: v.$btn-max-width;
}

::ng-deep .btn-primaer {
    @include m.flex();
    width: fit-content; 
    min-width: 120px;   
    height: 40px;
    border-radius: 100px;
    border: 1px solid c.$light-beige;
    padding: 6px 12px; 
    background-color: transparent;
    font-size: 17px;
    color: c.$light-beige;
    font-family: f.$font-second;
    font-weight: 700;
    transition: .100s ease-in;
    text-decoration: none;
    box-sizing: border-box; 

    @include m.respond-laptop {
        padding: 12px 24px;
        height: auto; 
    }

    @media (hover: hover) {
        &:hover {
            background-color: c.$accent-orange;
        }
    }

    &:active {
        background-color: c.$accent-orange;
    }
}