@use 'style-varibles/mixins' as m;
@use 'style-varibles/colors' as c;
@use 'style-varibles/fonts' as f;

:host {
  margin: 55px 0 45px 0;
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-wrapper {
  height: auto;

  @include m.flex();
  flex-direction: column;

  @include m.respond-laptop {
    flex-direction: row;
    align-items: flex-start;
  

    app-reference-box-content:nth-of-type(1) {
      margin-top: 20px;
    }

    app-reference-box-content:nth-of-type(2) {
      margin-top: 220px;
    }

    app-reference-box-content:nth-of-type(3) {
      margin-top: 320px;
    }

  }
}