@use 'style-varibles/mixins' as m;
@use 'style-varibles/colors' as c;
@use 'style-varibles/fonts' as f;

:host {
  margin: 55px 0 50px 0;
  @include m.flex(center, center, column);

  @include m.respond-normal {
    margin-bottom: 70px;
  }

  @include m.respond-laptop {
    flex: 1;
    min-height: 0;
    margin: 0;     
    justify-content: center;
    padding-left: 30px;
  }
}

.content-wrapper {
  width: 100%;
  @include m.flex(space-around, center);
  flex-direction: column;

  @include m.respond-normal {
    flex-direction: row;
    align-items: flex-start;
    min-height: 0;

    app-reference-box-content:nth-of-type(1) { margin-top: 3vh; }
    app-reference-box-content:nth-of-type(2) { margin-top: 3vh; }
    app-reference-box-content:nth-of-type(3) { margin-top: 3vh; }
  }

  @include m.respond-1280 {
    app-reference-box-content:nth-of-type(1) { margin-top: 2vh; }
    app-reference-box-content:nth-of-type(2) { margin-top: 18vh; }
    app-reference-box-content:nth-of-type(3) { margin-top: 26vh; }
  }

    @include m.respond-xxl {
    app-reference-box-content:nth-of-type(1) { margin-top: 2vh; }
    app-reference-box-content:nth-of-type(2) { margin-top: 7vh; }
    app-reference-box-content:nth-of-type(3) { margin-top: 12vh; }
  }
}