@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {
    @include m.flex(flex-start);
    width: 100%;
    max-width: 750px;
    padding: 0 16px;
    margin-top: 70px;

     @include m.respond-laptop {
            padding-left: 0;
        }

     @include m.respond-xxxl {
           max-width: 900px;
        }

    .double-content {
        margin-bottom: 45px;

        @include m.respond-laptop {
            @include m.flex(center, stretch, row, 8px);
        }

        @include m.respond-large {
            gap: 80px;
        }
    }
}

.contact-form {
    @include m.flex(flex-start, stretch, column);
    width: 100%;
    font-family: f.$font-second;

    @include m.respond-normal {
        max-width: 478px;
    }

    @include m.respond-1280 {
        max-width: 100%;
    }
}

::ng-deep.btn-primaer {
    @include m.flex();
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        filter: grayscale(1);
    }

    @media (hover: hover) {
        &:hover:not(:disabled) {
            background-color: c.$orange-four;
        }
    }
}

.btn-flash-content {
    margin: 40px 0 0px 0;
    @include m.flex(space-between, flex-end);
    position: relative;
}

.btn-flash-content app-btn-primaer {
    margin: 0 auto;
}

.checkbox-group {
    margin-top: 32px;
    height: 30px;
    @include m.flex(flex-start, center);

    @include m.respond-xxl {
        @include m.flex(flex-start, flex-end);
    }

    .text-wrapper {
        @include m.flex();

        &.has-error {
            @include m.flex(flex-start, flex-start, column);
            height: 24px;
        }

        label {
            font-weight: 400;
            color: c.$light-beige;
            height: 24px;

            @include m.respond-xxxl {
                font-size: 24px;
            }
        }

        a {
            color: c.$orange-four;

            @include m.respond-xxxl {
                font-size: 24px;
            }
        }
    }

    .checkbox-wrapper {
        margin-right: 12px;
        @include m.flex(center, center);

        input[type="checkbox"] {
            -webkit-appearance: none;
            @include m.size(18px, 18px);
            border: 2px solid c.$orange-four;
            border-radius: 4px;
            background-color: transparent;
            cursor: pointer;
            display: grid;
            place-content: center;

            &::before {
                content: "";
                @include m.size(10px);
                transform: scale(0);
                transition: 60ms transform ease-in-out;
                background-color: c.$orange-four;
                clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
            }

            &:checked::before {
                transform: scale(1);
            }

            &:focus {
                outline: 2px solid rgba(c.$orange-four, 0.3);
            }
        }
    }
}

.error-message {
    color: c.$error;
    margin: 20px 0 0 0;
    font-size: 12px;
    display: block;
}

input:not([type="checkbox"]),
textarea {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid c.$orange-two;
    padding: 10px 0 0 10px;
    outline: none;
    font-family: f.$font-second;
    resize: none;
    appearance: none;
    color: c.$light-beige;

    &::placeholder {
        color: rgba(c.$light-beige, 0.8);
        font-weight: 300;
    }

    &:focus {
        border-bottom: 2px solid c.$orange-four; //
        outline: none;
    }

    @include m.respond-xxxl {
        font-size: 22px;
    }
}

.input-error {
    &::placeholder {
        color: c.$error !important;
        opacity: 1;
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: c.$light-beige !important;
    caret-color: c.$light-beige;
    transition: background-color 9999s ease-in-out 0s;
}

@keyframes shakeFlash {
    0% {
        transform: translateX(0);
        filter: brightness(1);
    }

    25% {
        transform: translateX(-5px);
        filter: brightness(1.2);
    }

    50% {
        transform: translateX(5px);
        filter: brightness(1.2);
    }

    75% {
        transform: translateX(-5px);
        filter: brightness(1.2);
    }

    100% {
        transform: translateX(0);
        filter: brightness(1);
    }
}

.invalid-attempt {
    animation: shakeFlash 0.4s ease-in-out;
}


@keyframes formFlash {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

.form-flash {
    animation: formFlash 0.5s ease-in-out;
}

.feedback-overlay {
    color: c.$orange-two;
    text-align: center;
    transform: translateY(20px) scale(0.9);
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
    height: 30px;
    margin-top: 5px;
    ;
}

.feedback-overlay.active {
    transform: translateY(0) scale(1);
    opacity: 1;
}

.input-error {
    border-bottom: 2px solid c.$error !important; 
    
    &::placeholder {
        color: c.$error !important;
        opacity: 1;
    }
}

.error-text {
    color: c.$error;
    font-size: 12px;
    margin-top: 4px;
    font-family: f.$font-second;
    min-height: 16px; 
}