<form class="contact-form" #contactForm="ngForm" [class.form-flash]="isFlashing" (ngSubmit)="onSubmit(contactForm)">

    <section class="double-content">
        <app-input-fields-email labelText="{{ 'CONTACT.LABELONE' | translate}}" [isFocused]="nameFocused">
            <input type="text" name="userName" [(ngModel)]="contactData.name" #nameField="ngModel" required
                [placeholder]="nameFocused ? ('CONTACT.PLACEONE' | translate) : (nameField.invalid && nameField.touched) ? ('CONTACT.PLACEONE' | translate) : ('CONTACT.PLACETWO' | translate)"
                [class.input-error]="(nameField.invalid && nameField.touched && !nameFocused) || nameFocused"
                (focus)="nameFocused = true" (click)="toggleFocus('nameFocused', nameField)"
                (blur)="nameFocused = false; nameField.control.markAsUntouched()">
        </app-input-fields-email>

        <app-input-fields-email labelText="{{ 'CONTACT.LABELTWO' | translate}}" [isFocused]="emailFocused">
            <input type="email" name="userEmail" [(ngModel)]="contactData.email" #emailField="ngModel" required email
                [placeholder]="emailFocused ? ('CONTACT.PLACETHREE' | translate) : (emailField.invalid && emailField.touched) ? ('CONTACT.PLACETHREE' | translate) : ('CONTACT.PLACEFOUR' | translate)"
                [class.input-error]="(emailField.invalid && emailField.touched && !emailFocused) || emailFocused"
                (focus)="emailFocused = true" (click)="toggleFocus('emailFocused', emailField)"
                (blur)="emailFocused = false; emailField.control.markAsUntouched()">
        </app-input-fields-email>
    </section>

    <app-input-fields-email labelText="{{ 'CONTACT.LABELTHREE' | translate}}" [isFocused]="messageFocused">
        <textarea name="message" [(ngModel)]="contactData.message" #messageField="ngModel" required rows="1"
            [placeholder]="messageFocused ? ('CONTACT.PLACEFIVE' | translate) : (messageField.invalid && messageField.touched) ? ('CONTACT.PLACEFIVE' | translate) : ('CONTACT.PLACESIX' | translate)"
            [class.input-error]="(messageField.invalid && messageField.touched && !messageFocused) || messageFocused"
            (focus)="messageFocused = true" (click)="toggleFocus('messageFocused', messageField)"
            (blur)="messageFocused = false; messageField.control.markAsUntouched()">
    </textarea>
    </app-input-fields-email>

    <div class="checkbox-group" [class.has-error]="privacyField.invalid && privacyField.touched">
        <div class="checkbox-wrapper">
            <input type="checkbox" name="privacy" [(ngModel)]="contactData.privacy" #privacyField="ngModel" required
                id="privacy" [class.input-error]="privacyField.invalid && privacyField.touched">
        </div>

        <div class="text-wrapper" [class.has-error]="privacyField.invalid && privacyField.touched">
            <label for="privacy">
                {{ 'CONTACT.POLICY_TEXT' | translate }}
                <a routerLink="/privacy-policy">
                    {{ 'CONTACT.POLICY_LINK' | translate }}
                </a>
                {{ 'CONTACT.POLICY_TEXT_END' | translate }}
            </label>

            @if (privacyField.invalid && privacyField.touched) {
            <span class="error-message">
                {{'CONTACT.POLICY_ERROR' |translate}}
            </span>
            }
        </div>
    </div>

    <div class="btn-flash-content">
        <app-btn-primaer>
            <div (click)="onInvalidSubmitAttempt(contactForm)">
                <button type="submit" class="btn-primaer" [class.btn-disabled]="contactForm.invalid"
                    [disabled]="isSending">
                    {{'CONTACT.CONTACT_BTN' | translate}}
                </button>
            </div>
        </app-btn-primaer>

        <app-back-flash>
            <a href="#hero">
                <div class="flash-height">
                    <img src="assets/img/icons/contact/flash-high.svg" alt="Icon flash Height" class="flash-icon">
                    <div class="flash-line"></div>
                </div>
            </a>
        </app-back-flash>
    </div>

    <div class="feedback-overlay" [class.active]="mailSuccess || mailError">
        @if (mailSuccess) {
        <div class="success-message">{{'CONTACT.EMAIL_OK' | translate}}</div>
        }
        @if (mailError) {
        <div class="error-message">{{ errorMessage | translate }}</div>
        }
    </div>
</form>