@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {
    display: flex;
    justify-content: flex-start; //mixin
    width: 100%;
    max-width: 750px;
    border: 1px solid yellow;
    padding: 0 16px;
    margin-top: 32px;

     
    .double-content{
        margin-bottom: 45px;
        @include m.respond-laptop{
        display: flex;
        justify-content: center;  // mixin
        align-items: stretch;
        gap:8px;    }
     
        @include m.respond-large{
        gap:80px;
    }
    }

    
}

.contact-form {
    @include m.flex(flex-start, stretch, column);
    width: 100%;
    font-family: f.$font-second;
}

::ng-deep.btn-primaer {
    @include m.flex();
    background-color: transparent;
    font-size: 18px;
    text-decoration: none;

    //Only when BTn is Disabled
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        filter: grayscale(1);
    }

    @media (hover: hover) {
        &:hover:not(:disabled) {
            background-color: c.$orange-four;
        }
    }
}

.btn-flash-content {
    margin: 40px 0 24px 0;
    width: 100%;
    @include m.flex(center, flex-end);
    position: relative; 

    a {
        position: absolute;
        right: 0;
    }
}

.flash-height {
    @include m.flex(flex-start, center, column);
    align-self: flex-end;
    margin-left: 16px;
    position: relative;
    color: c.$orange-four;
}

.flash-icon {
    animation: flashStretch 2s ease-in-out infinite;
    transform-origin: bottom;
    color: c.$orange-four;
}

.flash-line {
    @include m.size(20px, 2px);
    color: c.$light-beige;
    background-color: c.$orange-four;
}

@keyframes flashStretch {
    0% {
        transform: translateY(-20px) scaleY(1);
    }

    50% {
        transform: translateY(0px) scaleY(1.4);
    }

    100% {
        transform: translateY(-20px) scaleY(1);
    }
}

.checkbox-group {
    margin-top: 32px;
    height: 30px;
    @include m.flex(flex-start, center);



    .text-wrapper {
        @include m.flex();

        &.has-error {
            @include m.flex(flex-start, flex-start, column);
            height: 24px;
        }

        label {
            font-weight: 400;
            color: c.$light-beige;
            height: 24px;
        }

        a {
            color: c.$orange-four;
        }
    }

    .checkbox-wrapper {
        margin-right: 12px;
        display: flex;
        align-items: center;

        input[type="checkbox"] {
            -webkit-appearance: none;
            @include m.size(18px, 18px);
            border: 2px solid c.$orange-four;
            border-radius: 4px;
            background-color: transparent;
            cursor: pointer;
            display: grid;
            place-content: center;


            &::before {
                content: "";
                @include m.size(10px);
                transform: scale(0);
                transition: 60ms transform ease-in-out;
                background-color: c.$orange-four;
                clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
            }

            &:checked::before {
                transform: scale(1);
            }

            &:focus {
                outline: 2px solid rgba(c.$orange-four, 0.3);
            }
        }
    }
}

.error-message {
    color: #ff4d4d;
    margin: 20px 0 0 0;
    font-size: 12px;
    display: block;
}

input:not([type="checkbox"]),
textarea {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid c.$orange-two;
    padding: 10px 0 0 10px;
    outline: none;
    box-sizing: border-box;
    font-family: f.$font-second;
    resize: none;
    appearance: none;
    color: c.$light-beige;

    &::placeholder {
        color: rgba(c.$light-beige, 0.8);
        font-weight: 300;
    }

    &:focus {
        border-bottom: 2px solid c.$orange-four; // Bestätigt die Farbe beim Klicken
        outline: none; // Entfernt den Standard-Browser-Rahmen
    }
}

app-input-fields-email:focus-within {
    ::ng-deep label {
        color: c.$orange-four !important;
    }
}

.input-error {
    &::placeholder {
        color: #E44C36 !important;
        opacity: 1; // Stellt sicher, dass die Farbe kräftig angezeigt wird
    }
}