@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;
@use 'style-varibles/component-mixins/close-dialog-btn' as closeDialogBtn;

:host{
        width: 300px;
        height: auto;
        border: 2px solid rgb(49, 33, 141);

        p {
            &:first-child {
                color: c.$dark-blue; 
                font-family: f.$font-karla;
                margin-bottom: 5px;
            }
            &:last-child {
                color: c.$light-beige; 
                font-family: f.$font-second;
            }
        }
}