@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {

    height: 27px;
    width: 100%;
    max-width: 820px;
    display: flex;
    justify-content: space-around;
    margin: 35px 0 50px 0;
    cursor: pointer;

    @include m.respond-normal {
        justify-content: space-between;
        margin-right: 12px;
    }


    button {
        width: 145px;
        height: 22px;
        display: flex;
        justify-content: flex-start; // mixin
        align-items: center;
        font-size: 15px;
        font-weight: 700;
        font-family: f.$font-second;
        border: none;
        background: none;
        color: c.$skill-black;
        transition: color 150ms ease-in-out;
cursor: pointer;
        @include m.respond-xsm360 {
            font-size: 16px;
        }

        @include m.respond-normal {
            font-size: 18px;
            width: 162px;
        }

        @media (min-width: 992px) and (hover: hover) {
            &:hover {
                color: c.$orange-four;
            }
        }

        &:active {
            color: c.$orange-four;
        }

        &:last-child {
            justify-content: flex-end;
        }
    }
}