@use 'style-varibles/mixins' as m;

.social-btn-container {
  @include m.flex(center,center,row);
  gap: 15px;
}

.img-desktop {
  display: none !important;
}

.social-link {
  display: inline-flex;
  text-decoration: none;

  .img-mobile.black {
    display: block !important;
    width: 30px !important;
    height: 30px !important;
  }

  .img-mobile.orange-mobile {
    display: none !important;
  }

  &:active {
    .img-mobile.black {
      display: none !important;
    }

    .img-mobile.orange-mobile {
      display: block !important;
      width: 28px !important;
      height: 28px !important;
    }
  }
}

@include m.respond-sm {
  .img-desktop {
    display: block !important;
    width: 40px;
    height: 40px;
  }

  .social-link {
    .img-mobile.black,
    .img-mobile.orange-mobile {
      display: none !important;
    }

    &:active {
      .img-mobile.black,
      .img-mobile.orange-mobile {
        display: none !important;
      }
    }
  }
}
