

// src/styles/_mixins.scss

@mixin close-button-style {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 20px;
  height: 20px;

  color: white;
 background-color: transparent;
 border: none;
  cursor: pointer;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;


  

  @media(min-width: 1024px) {
    display: none;
  }
}