@use 'style-varibles/mixins' as m;
@use 'style-varibles/colors' as c;

:host {
  position: relative; 
  border: 1px solid red; 
  @include m.flex(flex-start,flex-start);
  flex-direction: column;
  height: 100%;
  padding: 0 2px 0px 2px;
  width: 100%;

  @include m.respond-sm {
    justify-content: center;
  }

  section {
    position: relative;
    border: 2px solid green;
    width: 100%;
    height: 625px;
    @include m.flex(flex-end,flex,start);
    flex-direction: column-reverse;

    @include m.respond-normal {
      flex-direction: column;
    }
  }

  app-about-title {
    align-self: flex-end;
  }
}




