@use 'style-varibles/mixins' as m;
@use 'style-varibles/colors' as c;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; // Wichtig: Nimmt die Höhe von .last-section
  
  @media (min-width: 1024px) {
    justify-content: center;
    overflow: hidden; // Verhindert das "Herausdrücken"
  }
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 16px;
  box-sizing: border-box;

  @media (min-width: 1024px) {
    flex-direction: column;
    justify-content: center;
  }
}