@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;


:host {
    @include m.section-layout(c.$light-beige);
    border: 2px solid green;
height:auto;
}