@use 'style-varibles/mixins' as m;
@use 'style-varibles/colors' as c;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;        // mobile: frei wachsen

  @include m.respond-laptop {
    flex: 1;
    min-height: 0;
    justify-content: center;
  }
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  box-sizing: border-box;

  @include m.respond-laptop {
    flex: 1;
    min-height: 0;
    flex-direction: row;         
    align-items: flex-end;        
    justify-content: flex-start;
  }
}

app-about-title {
  align-self: flex-end;
}