@use 'style-varibles/mixins' as m;
@use 'style-varibles/colors' as c;

:host {
  /* @include m.section-layout(c.$light-beige); */
  border: 1px solid red;
  display: flex;
  align-items: flex-start; 
  justify-content: flex-end;
  flex-direction: column;
  height: auto;
  padding: 0 2px 0px 2px; 
  width: 100%;
  @include m.respond-sm{
  justify-content: center;
  }
section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column-reverse;
}
app-about-title{
  align-self: flex-end;
}
}
