@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

header {
  width: 100%;
  @include m.flex($align: flex-start, $direction: column-reverse);
  height: 115px;
}

::ng-deep .flash-left {
  transform: rotate(-90deg);
}

app-back-flash {
  @include m.respond-laptop {
    display: none;
  }
}

.back-flash-desk {
  display: none;

  @include m.respond-laptop {
    @include m.flex();
  }
}

.legal-content {
  max-width: 1960px;
  margin: 0 auto;
  padding: 0 12px 5px;

  @include m.respond-laptop {
    padding: 0 12px 45px;
  }

}

.legal-page {
  min-height: 100vh;
  background-color: c.$skill-black;
  color: #eee;
}

main.legal-page .legal-content {
  max-width: 1032px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  font-family: f.$font-eczar;
}

h2 {
  margin: 20px 0 8px;
  font-size: 23px;
  color: c.$orange-two;
  font-family: f.$font-josefine;
  font-weight: 400;
}

p,
li {
  line-height: 1.2;
  font-family: f.$font-josefineLight;
  font-size: 19px;
}

a {
  color: c.$orange-two;
}

span {
  color: c.$orange-two;
}

:host ::ng-deep {
  app-two-icons {
    width: 300px;
  }

  .footer-content {
    app-footer {
      width: 100%;
      align-self: flex-end;

      @include m.respond-laptop {
        width: 650px;
        @include m.flex(space-around, flex-end, row);
      }

      @include m.respond-large {
        width: 830px;
      }

      .footer-links {
        width: 100%;
        @include m.flex();

        @include m.respond-laptop {
          @include m.flex(flex-end, center, row, 15px);
          max-width: 100px;
        }
      }
    }
  }

  .imprint-footer {
    .dein-element {
      @include m.flex(center, center, column);
    }

    @include m.respond-laptop {
      @include m.flex(space-between, flex-end, row);
      width: 830px;
    }
  }
}

.footer-content {
  @include m.flex(center, center, column-reverse);
  height: 320px;

  @include m.respond-laptop {
    height: 200px;
    @include m.flex(space-between, flex-end, row);
    max-width: 1340px;
    margin: auto;
  }
}

:host {
  display: block;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar { display: none; }
}