@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

header {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: column-reverse;
  height: 115px;
}

::ng-deep .flash-left {
  transform: rotate(-90deg);
}

app-back-flash{
      @include m.respond-laptop {
        display: none;
      }
}

.back-flash-desk{
  display: none;
    @include m.respond-laptop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.legal-content {
  max-width: 1960px;
  margin: 0 auto;
  padding: 0 12px 5px;
   @include m.respond-laptop {
  padding: 0 12px 45px;
  }
   
}

.legal-page {
  min-height: 100vh;
  background-color: c.$skill-black;
  color: #eee;
}

main.legal-page .legal-content {
  max-width: 1032px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  font-family: f.$font-eczar;
}

h2 {
  margin: 20px 0 8px;
  font-size: 23px;
  color: c.$orange-two;
  font-family: f.$font-josefine;
  font-weight: 400;
}

p,
li {
  line-height: 1.2;
  font-family: f.$font-josefineLight;
  font-size: 19px;
}

a {
  color: c.$orange-two;
}

span {
  color: c.$orange-two;
}

:host ::ng-deep {
  app-two-icons {
    width: 300px;
  }

  .footer-content {
    app-footer {
      width: 100%;
      align-self: flex-end;

      @include m.respond-laptop {
        width: 650px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
      }
      @include m.respond-large{
        width: 830px;
      }

      .footer-links {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include m.respond-laptop {
          display: flex;
          justify-content: flex-end;
          max-width: 100px;
          flex-direction: row;
          gap: 15px;
        }
      }
    }
  }

  .imprint-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include m.respond-laptop {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      width: 830px;
    }
  }
}

.footer-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  height: 320px;

  @include m.respond-laptop {
    height: 200px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1340px;
    margin: auto;
  }
}