
<header>
    <h1>Join</h1>
    <img src="assets/img/icons/green-ok.svg" alt="Ok icon">
</header>
<article>
    <p>
        HTML | CSS | Firebase | API | SCRUM
    </p>

    <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. </p>
</article>

<section>
  <app-a-link-btn link="https://github.com">GitHub</app-a-link-btn>

  <app-a-link-btn link="https://andreas-kissner.developerakademie.net/angular-projects/myportfolio/">My Portfolio</app-a-link-btn>
</section>