@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;
@use 'style-varibles/component-mixins/close-dialog-btn' as closeDialogBtn;

:host {
    width: 100%;
    max-width: 820px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: c.$skill-black;

    @include m.respond-normal {
        align-items: flex-start;
        margin-right: 50px;
        margin-top: 8px;
        padding: 32px;
        height: 330px;
    }
      @include m.respond-xxl {
            height: 430px;
        }

    app-dialog {
        display: block;
        width: 302px;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transform: translate(-00px, -100px);
        transition: transform 0.4s ease-out, opacity 0.4s ease-out, visibility 0.4s;

        &.is-open {
            opacity: 1;
            visibility: visible;
            transform: translate(0px, -275px);
        }
    }

    .dialog-inner {
        width: 100%;
        height: 190px;
        padding: 32px;
        background: c.$dark-blue;
        border: 1px solid c.$skill-black;
        color: c.$light-beige;
        border-radius: 4px;

        h1 {
            margin: 0 0 20px 0;
            font-size: 24px;
            font-family: f.$font-second;
            font-weight: 700;
        }

        p {
            font-family: f.$font-second;
        }
    }

    .close-btn {
        @include closeDialogBtn.close-button-style;
    }
}

header {
    width: 100%;
    max-width: 820px;
    height: 50px;
    display: flex;
    padding: 4px 12px;
    justify-content: space-between;
    align-items: flex-end;

    @include m.respond-normal {
        padding: 6px 12px 0 0;
    }

    h1 {
        font-size: 32px;
        font-family: f.$font-second;
        color: c.$light-beige;
    }
}

app-open-dialog-btn {
    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;

        img {
            width: 30px;
            @include m.float-animation;

            @include m.respond-normal {}

        }
    }
}