@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {
    width: 358px;
    height: 325px;
    border: 2px solid violet;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: c.$skill-black;

    header {
        border: 2px solid orange;
        width: 298px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 25px 0  25px 0;
        ;

        h1 {
            font-size: 32px;
            font-family: f.$font-second;
            color: c.$light-beige;
        }

        img {
            width: 40px;
        }
    }

    article {
        width: 298px;
        height: auto;
        border: 2px solid green;

        p {
            &:first-child {
                color: c.$dark-blue; 
                font-family: f.$font-karla;
                margin-bottom: 5px;
            }

            &:last-child {
                color: c.$light-beige; 
                font-family: f.$font-second;
            }
        }
    }

section {
  width: 100%;
  max-width: 300px;
  @include m.flex(center, center); // Damit der Link in der Mitte der Section sitzt
  padding: 12px 24px;
  border: 2px solid red;
  gap:2px;
  margin-top: 20px;
  font-family: f.$font-second;
}
}