@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {
    width: 358px;
    height: 325px;
    border: 2px solid violet;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: c.$skill-black;

    header {
        border: 2px solid orange;
        width: 298px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 20px;;

        h1 {
            font-size: 32px;
            font-family: f.$font-second;
           color:c.$light-beige;
        }

        img {
            width: 40px;
        }
    }

    article {
        width: 298px;
        height: auto;
        border: 2px solid green;
        p {
        &:first-child {
            color: c.$dark-blue; // Farbe für die Tech-Stack Liste
            font-family: f.$font-karla;
            margin-bottom: 5px;
        }

        &:last-child {
            color: c.$light-beige;    // Farbe für die Beschreibung
            font-family: f.$font-second;
        }
    }
    }
}