@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;

:host {
    @include m.flex(flex-start, flex-end);
    width: 100%;
    padding: 20px 16px 0 16px;
    overflow: hidden;

    @include m.respond-laptop{
        padding-top:50px;
    }

    @include m.respond-1280{
        padding-top: 210px;
    }
}

.icon {
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.icon-left {
    width: 172px;
    margin-right: 8px;
    flex-shrink: 0; 
    @include m.rotate-ring;

    @include m.respond-normal {
        width: 120px;
    }

    @include m.respond-1280 {
        width: 172px;
    } 
}

.icon-right {
    width: 210px;
    z-index: 2;
    margin-left: -121px;
    flex-shrink: 0;
    animation: rotate-left 15s linear infinite;

    @include m.respond-normal {
        width: 150px;
        margin-left: -90px;
    }

    @include m.respond-1280 {
        width: 210px;
        margin-left: -121px;
    } 

    
    @include m.respond-xxl {
        width: 210px;
        margin-left: -121px;
    } 
}

@keyframes rotate-left {
    from {
        transform: translateY(-5px) rotate(0deg);
    }
    to {
        transform: translateY(-5px) rotate(-360deg);
    }
}