:host {
    display: flex; 
    flex-direction: column;
    width: 100%;
}

section {
  background-color: violet;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}