main {
  width: 100%;
  background-color: red;
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;

   app-landing-container {
    display: flex; // Macht die Sektion selbst zur Flexbox
    flex-direction: column;
    width: 100%;
  }
}