@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;

:host {
  display: inline-block;
}

.btn-style {
  @include m.flex();
  width: fit-content;
  min-height: 40px;
  border-radius: 100px;
  border: 1px solid c.$light-beige;
  padding: 6px 12px;
  gap: 15px;
  transition: all 0.2s ease;

  @include m.respond-laptop{
    padding: 12px 24px;
  }

  span {
    color: c.$light-beige;
    white-space: nowrap;
  }

  img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    transition: transform 0.2s ease;
  }

  &:active {
    background-color: c.$orange-two;
    border-color: c.$orange-two;

    img {
      transform: rotate(-45deg);
    }
  }

  @include m.respond-normal {
    &:hover {
      background-color: c.$orange-two;
      border-color: c.$orange-two;

      img {
        transform: rotate(-45deg);
      }
    }
  }
}