@use 'style-varibles/mixins' as m;

:host {
  width: 100%;
  max-width: 500px;
  @include m.flex(flex-start, flex-end);

  @include m.respond-laptop {
    max-width: 400px;
  }

  @include m.respond-large {
    max-width: 500px;
  }

  @include m.respond-xl {
    max-width: 600px;
  }

  @include m.respond-xxl {
    max-width: 700px;
  }

  @include m.respond-xxxl {
    max-width: 800px;
  }
}

img {
  display: block;
  width: 100%;
  max-width: 240px;
  object-fit: cover;
  object-position: top;

  @include m.respond-sm {
    max-width: 400px;
  }

  @include m.respond-mid {
    max-width: 400px;
  }

  @include m.respond-laptop {
    width: 400px;
    height: auto;
    max-width: none;   // ← damit max-width von mobile nicht greift
  }

  @include m.respond-large {
    width: 500px;
  }

  @include m.respond-xl {
    width: 620px;
  }

  @include m.respond-xxl {
    width: 650px;
  }

  @include m.respond-xxxl {
    width: 660px;
  }
}