@use 'style-varibles/mixins' as m;

:host {
  width: 100%;
  height: 100%;
  @include m.flex(flex-start, flex-end)
}

img {
  display: block;
  width: 240px;
  object-fit: cover;

@include m.respond-sm {
  width: 400px;
}

@include m.respond-mid {
  width: 600px;
}
  @include m.respond-normal {}

  @include m.respond-large {}

  @include m.respond-xxl {}
}