

img {
  display: block;
  width: clamp(214px, 40vw + 86px, 528px);
  height: clamp(260px, 65vw + 100px, 740px);
  object-fit: cover; 
/*   margin-left:2px; */
  margin-top: 10px;  // Aendern

   @media(min-width :768px ){
    height: 614px;
  }  
}
