@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

.burger-icon {
  width: 30px;
  height: 20px;

  @include m.flex(space-between,center, column);
  cursor: pointer;

  span {
    height: 3px;
    width: 100%;
    background-color: c.$light-beige;
    transition: 0.25s;
  }

  &:hover span {
    background-color: c.$accent-orange;
  }

  &.open {
    span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg);
    }
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: c.$bg-overlay;
  z-index: 1000;
  @include m.flex(flex-end, flex-start);

  visibility: hidden;
  /*   opacity: 0; */
  transition: all 0.2s ease-in-out;
  pointer-events: none;

  &.active {
    visibility: visible;
    /*  opacity: 1; */
    pointer-events: all;

    .menu-content {
      transform: translateX(0);
    }
  }
}

.menu-content {
  width: 230px;
  height: auto;
  background-color: c.$light-beige;
  border: 1px solid c.$skill-black;
  border-radius: 1px;
  padding: 20px 20px;
  transform: translateX(120%);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  margin: 6px 23px 00;

  @include m.respond-mid {
    margin-top: v.$spacing-margin-top;
    margin-right: 47px;
  }
}

/* SOCIAL BUTTONS im Menu (mobile-first) */
::ng-deep .social-mobile {
  display: flex !important;
  justify-content: flex-start !important;
  margin-top: v.$spacing-margin-top !important;
  width: 100% !important;
}

@include m.respond-sm {
  ::ng-deep .social-mobile {
    display: none !important;
  }
}

.menu-header {
  @include m.flex(space-between, center);
  margin-bottom: 5px;

  h2 {
    font-family: f.$font-second;
    color: c.$dark-blue;
    font-size: 2rem;
    margin: 0;
  }

  .close-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    @include m.flex();
    position: relative;

    img {
      width: 32px;
      height: 32px;
      transition: transform 0.2s ease;
    }

    .close-active {
      display: none;
    }

    .close-default {
      display: block;
    }

    &:active {
      transform: scale(0.9);

      .close-default {
        display: none !important;
      }

      .close-active {
        display: block !important;
      }
    }
  }
}

.menu-links {
  display: flex;
  flex-direction: column;
  gap: 8px;

  a {
    text-decoration: none;
    color: c.$skill-black;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: color 0.2s;

    .icon-sun {
      display: inline-block;
      background-image: url('/assets/img/icons/profilBg/profil-bg-1.webp');
      background-size: contain;
      background-repeat: no-repeat; 
      width: 0;
      height: 20px;
      margin-right: 0;
      transition: all 0.25s ease-in-out;
    }

    &:hover,
    &.active-link {
      color: #7ba2b1;

      .icon-sun {
        width: 20px;
        margin-right: 12px;

        &:hover .icon-sun {
          transform: rotate(45deg);
        }
      }
    }
  }
}
