@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {
    height: auto;
    min-width: 288px;
    max-width: 1135px;
    padding: 0 16px;
    @include m.flex(flex-start, center);
    flex-direction: column; //mixin

    @include m.respond-normal {
        align-self: flex-start;
        flex-direction: row;
        gap: 25px; 
    }

    h1 {
        font-family: f.$font-eczar ;
        font-weight: 700px;
        font-size: clamp(40px, 4vw + 24px, 72px);
        align-self: flex-start;

    }

    .title {
        @include m.slide-in(100px);
    }

    p {
        font-family: f.$font-second;
        font-weight: 400;

        @include m.respond-normal {
            max-width: 600px;
            padding: 32px;
        }
    }
}