@use 'style-varibles/mixins' as m;
@use 'style-varibles/colors' as c;
@use 'style-varibles/fonts' as f;

:host {
   @include m.flex();
   padding: 0 16px;
}

h3 {
   @include m.font40-eczar(f.$font-eczar);
   color: c.$orange-two;
   margin-bottom: 32px;

   @include m.respond-normal {
      font-size: 72px;
   }

   @include m.respond-xxl {
      font-size: 144px;
   }
    @include m.respond-xxxl {
      margin-bottom:100px;
   }

}
