@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;

:host {
  display: block;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  &::-webkit-scrollbar { display: none; }
}

.outer-container {
  width: 100%;
  // Hero immer 100vh, Rest auf Handy auto
  height: auto;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;

  &#hero {
    height: 100vh; 
  }

  @include m.respond-laptop {
    height: 100vh; 
  }
}

.inner-section {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  display: flex;
  flex-direction: column;
  
  
  @include m.respond-laptop {
    padding-top: 88px; 
  }
}

.last-section, .last-section-footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.last-section{
  justify-content: flex-end;
}