@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;

:host {
  display: block;

}

main {
  @include m.flex-col-center;
}

.outer-container {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  @include m.flex-col-center;

}

.inner-section {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  display: flex;
  flex-direction: column;

  app-hero,
  app-about,
  app-skill,
  app-portfolio,
  app-reference,
  app-contact {
    flex: 1;
    display: flex;
    padding-left: clamp(2px, 4.28vw - 11.7px, 50px);
  }
}

.last-section {
  display: flex;
  height: 100%;
}