@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;

:root {
  --header-height: 72px;

  @include m.respond-laptop {
    --header-height: 88px;
  }
}

:host {
  display: block;
  width: 100%;
  overflow-y: scroll;
  height: 100vh;
  scrollbar-width: none;
  &::-webkit-scrollbar { display: none; }
}

.sections-wrapper {
  width: 100%;
}

.outer-container {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: clip;
  justify-content: flex-end;

  &#hero {
    height: 100vh;
  }
  &:last-child {
    min-height: auto;
  }
}

.inner-section {
  width: 100%;
  max-width: 1920px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: var(--header-height);

  @include m.respond-sm{
    padding-right: 40px;
  }

  app-hero,
  app-about,
  app-skill,
  app-portfolio,
  app-reference,
  app-contact {
    flex: 1;
    padding-left: clamp(0px, 4.28vw - 17px, 50px);
  }
}

.last-section,
.last-section-footer {
  display: block;  
  height: 100%;
}