@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;

:host {
  display: block;
  width: 100%;
}

.outer-container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  flex-shrink: 0;
  @include m.flex-col-center;
  overflow: hidden;

  &#hero {
    height: 100vh;
  }
}

.inner-section {
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  app-hero,
  app-about,
  app-skill,
  app-portfolio,
  app-reference,
  app-contact {
    flex: 1;
    padding-left: clamp(0px, 4.28vw - 17px, 50px);
  }
}

.last-section {
  display: flex;
  height: 100%;
}

.last-section-footer {
  display: flex;
  height: 100%;
  flex-direction: row;
}

.header-mobile-hidden {
  display: none;

  @include m.respond-laptop {
    display: block;
  }
}