@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {
  display: block;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.image-container {
  border: 2px solid rgb(226, 85, 30);
  position: relative;
  width: 100%;
}

.bg-img-1,
.bg-img-2 {
  position: absolute;
  z-index: 1;
  height: auto;
  display: block;
}

.bg-img-1 {
  width: 60%;
  min-width: 170px;
  max-width: 200px;
  top: 16px;
  right: 114px;

  @include m.respond-large {
    right: 250px;
    top: 68px;
  }
}

.bg-img-2 {
  width: 60%;
  min-width: 150px;
  max-width: 240px;
  top: 10px;
  right: 11px;
}

.profil-img {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end; // Sorgt dafür, dass das Bild unten aufsteht
  width: 100%; // Nutzt die Breite, die der Host ihm gibt

  img {
    // Nur hier definieren wir die tatsächliche Größe
    width: 100%; 
    max-width: clamp(230px, 40vw, 800px); 
    height: auto;
    max-height: clamp(315px, 80vh, 950px);
    
    object-fit: contain;
    display: block;
  }
}


/* .bg-1 {
  top: 16px;
  right: 114px;
  left: auto;
  @include m.respond-large{
    right: 250px;
    top: 128px;
  }
}

.bg-2 {
  top: 30px;
  right: 41px;
}

.bg-img-1 {
  min-width: 170px;
  max-width: 400px;
}

.bg-img-2 {
  min-width: 150px;
  max-width: 400px;
} */
