@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-left: 16px;

  @include m.respond-mid {
    padding: 0 100px 0 0;
  }

  @include m.respond-xl {
    padding: 0 200px 0 0;
  }

  @include m.respond-xxxl {
    padding: 0 0px 0 0;
  }
}

.image-container {
  position: relative;
  width: 100%;
}

.bg-img-1,
.bg-img-2 {
  position: absolute;
  z-index: 1;
  height: auto;
  display: block;
}

.bg-img-1 {
  width: 60%;
  min-width: 150px;
  max-width: 200px;
  top: 47px;
  right: 132px;

  @include m.respond-sm {
    max-width: 283px;
    top: 5px;
    right: 126px;
  }

  @include m.respond-mid {
    right: 161px;
    top: 68px;
  }

  @include m.respond-normal {
    max-width: 250px;
    right: 126px;
  }

  @include m.respond-large {
    max-width: 300px;
    right: 179px;
    top: 120px;
  }

  @include m.respond-xl {
    right: 225px;
  }

  @include m.respond-xxl {
    right: 220px;
  }
   @include m.respond-xxxl {
    right: 380px;
  }

}

.bg-img-2 {
  width: 200px;
  top: 10px;
  right: 12px;

  @include m.respond-sm {
    width: 260px;
    top: -27px;
    right: 9px;
    padding-right: 50px;
  }

  @include m.respond-mid {
    top: -27px;
    right: -50px;

  }

  @include m.respond-laptop {
    top: 25px;
  }


  @include m.respond-large {
    width: 369px;
    right: -74px;
    top: -32px;
  }

  @include m.respond-xl {

    right: -160px;
    top: -38px;
    width: 501px;
  }

  @include m.respond-xxl {
    right: -10px;
    top: -43px;
    margin-right: -159px;
  }

  @include m.respond-xxxl {
    right: 155px;
    top: 2px;
  }
}

.profil-img {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  @include m.flex(center, flex-end);
  width: 100%;

  img {
    width: 234px;
    object-fit: contain;
    display: block;

    @include m.respond-sm {
      width: 320px;
    }

    @include m.respond-mid {
      width: 340px;
    }

    @include m.respond-laptop {
      width: 384px;
    }

    @include m.respond-large {
      width: 410px;
    }

    @include m.respond-xl {
      width: 550px;
    }

    @include m.respond-xxl {
      width: 530px
    }

    @include m.respond-xxxl {
      width: 580px
    }
  }
}