@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {
  display: block;
  width: 100%;
}

.image-container {
  border: 2px solid rgb(226, 85, 30);
  position: relative;
  width: 100%;
}

.bg-1,
.bg-2 {
  position: absolute;
  z-index: 1;
  width: 60%;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.bg-1 {
  top: 16px;
  right: 114px;
  left: auto;
  @include m.respond-large{
    right: 250px;
    top: 128px;
  }
}

.bg-2 {
  top: 30px;
  right: 41px;
}

.bg-img-1 {
  min-width: 170px;
  max-width: 400px;
}

.bg-img-2 {
  min-width: 150px;
  max-width: 400px;
}

.profil-img {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  width: clamp(230px, 40vw, 800px); 
  max-height: clamp(350px, 78vh, 950px); 
  
  display: flex;
  justify-content: center;

  img {
   width: auto;
  /*  height: auto;  */
   max-width: 100%;  
    // Muss mit den Werten oben übereinstimmen
    max-height: clamp(350px, 85vh, 950px); 
    object-fit: contain;
    display: block;
  }
}


app-scroll-down-element {
  position: absolute;
  z-index: 3;
  bottom: 7px;
  left: 7px;

  @include m.respond-normal {
    display: none;
  }
}