@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-left: 16px;
}

.image-container {
  position: relative;
  width: 100%;
}

.bg-img-1,
.bg-img-2 {
  position: absolute;
  z-index: 1;
  height: auto;
  display: block;
}

.bg-img-1 {
  width: 60%;
  min-width: 150px;
  max-width: 200px;
  top: 47px;
  right: 132px;

  @include m.respond-sm {
    max-width: 283px;
    top: 5px;
    right: 126px;
  }

  @include m.respond-mid {
    right: 161px;
    top: 68px;
  }

  @include m.respond-normal {
    max-width: 250px;
    right: 126px;
  }

  @include m.respond-large {
    max-width: 300px;
    right: 305px;
    top: 120px;
  }

  @include m.respond-xl {
    right: 350px;
  }

  @include m.respond-xxl {
    right: 450px;
  }

}

.bg-img-2 {
  width: 60%;
  min-width: 150px;
  max-width: 240px;
  top: 10px;
  right: 20px;

  @include m.respond-mid {
    top: -27px;
    right: 9px;
  }

  @include m.respond-large {
    max-width: 390px;
    right: 27px;
    top: -17px;
  }

  @include m.respond-xl {
    right: -3px;
    max-width: 428px;
    margin-right: 10px;
  }

  @include m.respond-xxl {
    right: -10px;
    max-width: 550px;
    top: 0px;
    margin-right: 20px;
  }
}

.profil-img {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  @include m.flex(center, flex-end);
  width: 100%;

  img {
    width: 234px;
    object-fit: contain;
    display: block;

    @include m.respond-sm {
      width: 320px;
    }

    @include m.respond-mid {
      width: 340px;
    }

    @include m.respond-large {
      width: 410px;
    }
    @include m.respond-xxl{
      width:585px
    }
  }
}