
    <div class="image-container">

       <div class="profil-img">
    <img  src="assets/img/profil.webp" alt="Image Andreas Kissner" />
    </div>

      <div class="bg-2">
    <img
      class="bg-img-2"
      src="assets/img/icons/profilBg/profil-bg-1.webp"
      alt="Profil Background Image 2"
    />
    </div>

    <div class="bg-1">
    <img
      class="bg-img-1"
      src="assets/img/icons/profilBg/profil-bg.webp"
      alt="Profil Background Image 1"
    />
    </div>
    <app-scroll-down-element class="profil-image-content-style"></app-scroll-down-element>
    </div>
  

  