@use 'style-varibles/mixins' as m;
@use 'style-varibles/colors' as c;
@use 'style-varibles/fonts' as f;

:host {
    align-self: flex-start;

    h2 {
        color: c.$light-beige;
        @include m.font40-eczar(f.$font-eczar);
        font-weight: 900;
        padding-left: 16px;
        margin-bottom: 10px;

        @include m.respond-sm {
            font-size: 55px;
            text-align: center;
        }

        @include m.respond-laptop {
            padding-left: 21;
        }

        @include m.respond-large {
            font-size: 72px;
            text-align: left;
        }

        @include m.respond-xxl {
            font-size: 100px;
           
        }
    }

    .title {
        @include m.slide-in(-400px);
    }

}