@use 'style-varibles/mixins' as m;
.scroll-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px; 
    text-decoration: none;

    @include m.respond-normal{
        width: 144px;
    }

    .outer-ring {
        width: 100%;
        height: auto;
        animation: rotateRing 10s linear infinite;
    }

    .inner-flash {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30%; 
        height: auto;
        z-index: 2;
    }
}

@keyframes rotateRing {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}