@use 'style-varibles/mixins' as m;

:host {
    position: absolute;
    z-index: 3;

    &.profil-image-content-style {
        bottom: 54px;
        left: -3px;
        width:80px;

        @media(min-width:725px) {
            display: none;
        }
    }

    &.hero-style {
        bottom: 17px;
        left: 48px;
        display: none;

        @media(min-width:725px) {
            display: block;
        }
    }

    a {
        position: relative;
        @include m.flex();
        width: 80px;
        text-decoration: none;

        @include m.respond-normal {
            width: 124px;
        }
    }
}

.outer-ring {
    width: 100%;
    height: auto;
    @include m.rotate-ring;
}

.inner-flash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    z-index: 2;
}

.scroll-down-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}