@use 'style-varibles/mixins' as m;

:host {
    position: absolute;
    z-index: 3;

    &.profil-image-content-style {
        bottom: 7px;
        left: 7px;

    @media(min-width:725px) {
            display: none;
        }
    }

    // 2. Varianet
    &.hero-style {
        bottom: 17px;
        left: 48px;
        display: none;

        @media(min-width:725px) {
            display: block;
        }

    }

    // 3. Das Element innerhalb des Hosts
    a {
        position: relative;
        @include m.flex();
        width: 80px;
        text-decoration: none;

        @include m.respond-normal {
            width: 124px;
        }
    }
}


.outer-ring {
    width: 100%;
    height: auto;
    @include m.rotate-ring;
}

.inner-flash {
    position: absolute; // Translate no Absolut
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    z-index: 2;
}


