@use 'style-varibles/mixins' as m;

:host {
    //  Basis-Styles für den Host
    position: absolute;
    z-index: 3;

    // 2. Varianten 
    &.profil-image-content-style {
        bottom: 7px;
        left: 7px;

    @media(min-width:725px) {
            display: none;
        }
    }

    // 2. Varianet
    &.hero-style {
        bottom: 17px;
        left: 48px;
        display: none;

        @media(min-width:725px) {
            display: block;
        }

    }

    // 3. Das Element innerhalb des Hosts
    a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        text-decoration: none;

        @include m.respond-normal {
            width: 124px;
        }
    }
}


.outer-ring {
    width: 100%;
    height: auto;
    animation: rotateRing 10s linear infinite;
}

.inner-flash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    z-index: 2;
}

@keyframes rotateRing {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}