@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {
  @include m.flex(space-between, flex-start, column);
  position: relative; 
  z-index: 10;
  margin-top: -30px; 
  align-self: flex-end; 
  background-color: #1c1c1c; // varibale
  color: c.$light-beige;
  padding: clamp(16px, 3vw, 32px);
  border-radius: 4px;
  width: clamp(240px, 73vw + 20px, 700px);
  min-height: 250px;
  height: auto; 
  
  @include m.respond-sm{
    bottom: 120px;
    align-self: center;
  }
   @include m.respond-normal{
    bottom: 251px;
    left: 148px;
  }

  .text-wrapper {
    width: 100%;
    p {
      font-family: f.$font-second;
      margin: 0;
      line-height: 1.4;
      font-size: clamp(14px, 1.5vw, 18px);
    }
  }

  .btn-icon {
    width: 100%;
    margin-top: 20px;
    @include m.flex(space-between, center, row);
    
    app-btn-primaer {
      flex-shrink: 0;
    }
  }

  img {
    width: clamp(30px, 5vw, 50px);
    height: auto;
  }
}