@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;
@use 'style-varibles/component-mixins/close-dialog-btn' as closeDialogBtn;

:host {
  @include m.flex(space-between, flex-start, column);
  z-index: 10;
  align-self: flex-end;
  background-color: #1c1c1c;
  color: c.$light-beige;
  padding: clamp(16px, 3vw, 32px);
  border-radius: 4px;
  width: clamp(230px, 60vw + 20px, 700px);
  transform: translate(0, -30px);
 
  @include m.respond-500 {
    min-width: 400px;
    height: 250px;
    transform: translate(-15px, -90px);
  }

  @include m.respond-650 {
    min-width: 400px;
    transform: translate(11px, -166px);
  }

  @include m.respond-mid {
    max-width: 600px;
    transform: translate(2px, -320px);
  }

  @include m.respond-normal {
    transform: translate(9px, 420px);
  }


  @include m.respond-large {
    transform: translate(-50px, 420px);
  }

  @include m.respond-xl {
    transform: translate(-253px, 420px);
  }
}

.text-wrapper {
  width: 100%;

  p {
    font-family: f.$font-second;
    margin: 0;
    line-height: 1.4;
    font-size: clamp(14px, 1.5vw, 18px);
  }
}

.btn-icon {
  width: 100%;
  margin-top: 20px;
  height: 50px;
  @include m.flex(space-between, center, row);

  app-btn-primaer {
    flex-shrink: 0;
  }
}

img {
  width: clamp(30px, 5vw, 50px);
  height: auto;
}


.dialog-trigger {
  background-color: transparent;
  border: none;
  cursor: pointer;

  img {
    width: 50px;
    @include m.float-animation;
  }


}

app-dialog {
  display: block;
  position: relative;
  z-index: 9999;
  pointer-events: none;
  
  transform: translate(-231px, -117px);

   @include m.respond-500 {
   transform: translate(-61px, -80px);
  }

  @include m.respond-sm {
    transform: translate(-231px, -117px);
  }

  @include m.respond-normal {
    transform: translate(-4px, -83px);
  }

  @include m.respond-large {
    transform: translate(50px, -64px);
  }

  &.is-open {
    .dialog-inner {
      pointer-events: auto;
      animation: dialogIn 0.4s ease-out forwards;
    }
  }

  &.is-closing {
    .dialog-inner {
      pointer-events: none;
      animation: dialogOut 0.3s ease-in forwards;
    }
  }

  .dialog-inner {
    z-index: 10000;
    min-width: 272px;
    padding: 32px;
    background: c.$dark-blue;
    border: 1px solid c.$skill-black;
    border-radius: 4px;
    pointer-events: auto;
    opacity: 0; 

    h1 {
      margin: 0 0 20px 0;
      color: c.$light-beige;
      font-family: f.$font-second;
      font-weight: 700;
    }

    .about-list {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        font-family: f.$font-second;
        font-weight: 400px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        img {
          width: 16px;
          margin-right: 5px;
        }
      }
    }

    .close-btn {
      @include closeDialogBtn.close-button-style;
      cursor: pointer; 
    }
  }
}

@keyframes dialogIn {
  from {
    opacity: 0;
    transform: translateY(70%);
    pointer-events: all;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dialogOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(120%);
    visibility: hidden;
  }
}