<div class="text-wrapper">
  <p>{{ 'ABOUT.GREETING' | translate }}</p>
</div>

<div class="btn-icon">
  <app-btn-primaer>
    <a class="btn-primaer" href="#contact">
      <span>{{ 'ABOUT_DIALOG.BUTTON' | translate }}</span>
    </a>
  </app-btn-primaer>

  <app-open-dialog-btn>
    <button class="dialog-trigger" (mouseenter)="dialog.onHover(true)" (mouseleave)="dialog.onHover(false)"
      (focus)="dialog.onHover(true)" (blur)="dialog.onHover(false)" (click)="dialog.onClick()">
      <img src="assets/img/icons/silentIcon.png" alt="Silent Smiley Icon">
    </button>
  </app-open-dialog-btn>
</div>

<app-dialog
  [class.is-open]="dialog.showDialog()"
  [class.is-closing]="!dialog.showDialog()"
>
  <div class="dialog-inner">
    <button class="close-btn" (click)="dialog.closeDialog()">X</button>
    <h1>{{ 'ABOUT_DIALOG.TITLE' | translate }}</h1>
<ul class="about-list">
  <li>
    <img src="assets/img/icons/aboutMeMiniOverlay/checkMiniOverlay.svg">
    <span>{{ 'ABOUT_DIALOG.TEAM' | translate }}</span>
  </li>
  <li>
    <img src="assets/img/icons/aboutMeMiniOverlay/checkMiniOverlay.svg">
    <span>{{ 'ABOUT_DIALOG.ANGULAR' | translate }}</span>
  </li>
  <li>
    <img src="assets/img/icons/aboutMeMiniOverlay/checkMiniOverlay.svg">
    <span>{{ 'ABOUT_DIALOG.TYPESCRIPT' | translate }}</span>
  </li>
  <li>
    <img src="assets/img/icons/aboutMeMiniOverlay/checkMiniOverlay.svg">
    <span>{{ 'ABOUT_DIALOG.RESPONSIVE' | translate }}</span>
  </li>
  <li>
    <img src="assets/img/icons/aboutMeMiniOverlay/checkMiniOverlay.svg">
    <span>{{ 'ABOUT_DIALOG.GIT' | translate }}</span>
  </li>
</ul>

  </div>
</app-dialog>
