@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;


:host{
  @include m.section-layout(c.$dark-blue);
  @media(min-width:725px){
    flex-direction: row;
 }
}

section{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 16px ;
}


