@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end; 
    width: 100%;
   /*  padding-top:43px; */  // Look fpr MOBILE VERSION DESIGN
    min-height: 100px; 
    max-width: 400px;

    h1 {
        font-size: 40px;
        font-family: f.$font-eczar;
        font-weight: bold;
        padding-right: 16px;

        @include m.respond-normal {
            font-size: 72px;
        }
    }

    
}