@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {
    @include m.flex(flex-end, flex-end);
    width: 100%;
    margin-top: 17px;
    min-height: 100px;
    max-width: 400px;

    @include m.respond-large {
        margin-top: 0;
    }

    h1 {
        font-size: 40px;
        font-family: f.$font-eczar;
        font-weight: bold;
        padding-right: 16px;

        @include m.respond-normal {
            font-size: 72px;
        }
    }
}