@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

.name-middle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 10px; 
    
  //390
   @include m.respond-xsm {
   left: 8px
  }

  img {
    width: 50px;
  }

  span {
    font-family: f.$font-second;
    font-size: 32px;
    font-weight: 900;
    color: c.$titleName-white;
  }
}



