@use 'style-varibles/mixins' as m;
@use 'style-varibles/colors' as c;
@use 'style-varibles/fonts' as f;


:host {
    display: flex;
    flex-direction: column;
    color: c.$light-beige;
    width: 100%;
    padding: 0 16px;
    max-width: 420px;
}

:host ::ng-deep section {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto; 
    @include m.border-white-all(c.$light-beige);
    padding: 16px;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    height: auto;
    
    @include m.respond-mid {
        padding: 32px;
    }

    @include m.respond-normal{
        width:270px;
        height: 330px;
    }

    @include m.respond-laptop {
        
        &:hover {
            .icon-top, .icon-center, .icon-bottom {
                opacity: 1;
            }
        }
    }
    @include m.respond-1280 {
        width: 335px;
    }

     @include m.respond-xxl {
        height: 400px;
}
}

:host ::ng-deep header {
    grid-column: 1;
    grid-row: 1;
    font-family: f.$font-second;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    @include m.respond-laptop{
        font-size: 24px;
    }
    @include m.respond-xxl{
        font-size: 28px;
    }
}

:host ::ng-deep main {
    grid-column: 1;
    grid-row: 2;
    font-family: f.$font-second;
     @include m.respond-xxl{
        font-size: 20px;
    }
}

:host ::ng-deep footer {
    grid-column: 1;
    grid-row: 3;
    font-family: f.$font-second;
    margin-top: 7px;
     @include m.respond-xxl{
        font-size: 20px;
    }
}

:host ::ng-deep .icon-top,
:host ::ng-deep .icon-center,
:host ::ng-deep .icon-bottom { 
  @include m.card-icons-reference 
}

:host ::ng-deep a {
    margin-top: 25px;
    align-self: flex-end;
    font-size: 18px;
    color: c.$light-beige;
    font-weight: 700;
    font-family: f.$font-second;
    margin-right: 16px;
    transition: color 0.150s ease;

    &:active {
        color: c.$orange-four;
    }

    @include m.respond-laptop {
        margin-right:50px;
        &:hover {
            color: c.$orange-four;
        }
    }
     @include m.respond-xxl{
        font-size: 20px;
    }
}