@use 'style-varibles/mixins' as m;
@use 'style-varibles/colors' as c;
@use 'style-varibles/fonts' as f;


:host {
    display: flex;
    flex-direction: column;
    color: c.$light-beige;
    width: 100%;
    height: auto;
    max-width: 500px;
}

:host ::ng-deep section {
    border: 1px solid c.$light-beige;
    padding: 16px;
    height: 220px;
    margin: 0 16px 0 16px; 
    border-radius: 1px;
    margin-top: 20px;
}

:host ::ng-deep header {
    font-family: f.$font-second;
    font-size: 20px;;
    font-weight: 700;
}

:host ::ng-deep main {
    font-family: f.$font-second;
}

:host ::ng-deep a {
    margin-top: 25px;
    align-self: flex-end;
    font-size: 18px;
    color: c.$light-beige;
    font-weight: 700;
    font-family: f.$font-second;
    margin-right: 16px;
    transition: color 0.150s ease; 

   
    &:active {
        color: c.$orange-four;
    }

    @media (min-width: 1024px) {
        &:hover {
            color: c.$orange-four;
         
        }
    }
}