@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;
@use 'style-varibles/component-mixins/close-dialog-btn' as closeDialogBtn;

:host {
  @include m.flex(flex-start, flex-start);
  align-self: flex-start;
  padding-left: 10px;
  max-width: 136px;
  margin: 50px 0 25px 0px;
  cursor: pointer;
}

app-open-dialog-btn {
  button {
    background-color: transparent;
    border: none;
    padding: 0;
    position: relative;
    margin-left: 4px;
    cursor: pointer;
    @include m.flex();
    @include m.size(120px);

    img {
      position: absolute;
    }

    img:first-of-type {
      @include m.size(120px);
      @include m.rotate-ring;
      z-index: 1;
    }

    img:last-of-type {
      width: 40px;
      z-index: 2;
    }
  }
}

app-dialog {
  display: block; 
  z-index: 1000;
  height: 0;
  width: 0;
  overflow: visible;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out, visibility 0.4s;
  transform: translate(-124px, -100px);

  @include m.respond-sm {
    transform: translate(98px, -100px);
  }

  @include m.respond-mid {
    transform: translate(210px, -100px);
  }

  @include m.respond-normal {
    transform: translate(310px, -100px);
  }

  &.is-open {
    opacity: 1;
    visibility: visible;
    
    transform: translate(-124px, -285px);

    @include m.respond-sm {
      transform: translate(98px, -285px);
    }

    @include m.respond-mid {
      transform: translate(210px, -285px);
    }

    @include m.respond-normal {
      transform: translate(310px, -285px);
    }
  }

  .dialog-inner {
    position: relative;
    width: 302px;
    height: 285px;
    padding: 32px;
    background: c.$accent-orange;
    border: 1px solid c.$skill-black ;
    color: c.$light-beige;
    border-radius: 4px;

    h1 {
      margin: 0 0 20px 0;
      font-size: 24px;
      font-family: f.$font-second;
      font-weight: 700;
    }

    p {
      font-family: f.$font-second;
    }

    li {
      font-family: f.$font-second;
      font-weight: 400; 
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      img {
        width: 16px;
        margin-right: 5px;
      }
    }
  }

  .close-btn {
    @include closeDialogBtn.close-button-style;
  }
}

.skill-image-box {
  width: 100%;
  max-width: 300px;
  @include m.flex();
  gap: 20px;
  height: auto;

  a {
    color: c.$light-beige;
    font-weight: 400;
    font-family: f.$font-second;
    @include m.flex();
    flex-direction: column;

    &:last-child {
      gap: 6px;
    }
  }

  img {
    width: 40px;
  }
}