@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;
@use 'style-varibles/component-mixins/close-dialog-btn' as closeDialogBtn;

:host {
  @include m.flex(flex-start, flex-start);
  align-self: flex-start;
  width: 100%;
  padding-left: 10px;
  max-width: 330px;
  margin: 50px 0 25px 0px;
}

app-open-dialog-btn {
  button {
    background-color: transparent;
    border: none;
    padding: 0;
    position: relative;
    margin-left: 4px;
    @include m.flex();
    @include m.size(120px);

    img {
      position: absolute;
    }

    img:first-of-type {
      @include m.size(120px);
      @include m.rotate-ring;
      z-index: 1;
    }

    img:last-of-type {
      width: 40px;
      z-index: 2;
    }
  }
}

app-dialog {
  position: absolute;
  top: 1842px;
  left: 10px;
  z-index: 1000;

  @include m.respond-sm {
    top: 1813px;
    left: 98px
  }

  @include m.respond-mid {
    top: 2005px;
    left: 210px
  }

  @include m.respond-normal {
    top: 2200px;
    left: 310px
  }


  &.is-open {
    animation: dialogIn 0.4s ease-out forwards;
  }

  &.is-closing {
    animation: dialogOut 0.3s ease-in forwards;
  }

  @keyframes dialogIn {
    from {
      opacity: 0;
      transform: translateY(70%);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes dialogOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(120%);
      visibility: hidden;
    }
  }

  .dialog-inner {
    position: relative;
    width: 302px;
    height: 285px;
    padding: 32px;
    background: c.$accent-orange;
    border: 1px solid c.$skill-black ;
    color: c.$light-beige;
    border-radius: 4px;

    h1 {
      margin: 0 0 20px 0;
      font-size: 24px;
      font-family: f.$font-second;
      font-weight: 700;
    }

    p {
      font-family: f.$font-second;
    }

    li {
      font-family: f.$font-second;
      font-weight: 400px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      img {
        width: 16px;
        margin-right: 5px;
      }
    }
  }

  .close-btn {
    @include closeDialogBtn.close-button-style;
  }
}


.skill-image-box {
  width: 100%;
  max-width: 300px;
  @include m.flex();
  gap: 20px;
  height: auto;

  a {
    color: c.$light-beige;
    font-weight: 400;
    font-family: f.$font-second;
    @include m.flex();
    flex-direction: column;

    &:last-child {
      gap: 6px;
    }

  }

  img {
    width: 40px;
  }
}