@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
:host {
  display: block;
  width: 100%;
  margin-top: auto;
  align-self: stretch;
/*   scroll-snap-align: end; */
}

footer {
  min-height: 80px;
  background-color: orange;;
  @include m.flex;
}
