@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {
  display: block;
  width: 100%;
  margin-top: auto;
  align-self: stretch;
}

footer {
  padding: 10px 12px;
  @include m.flex(center, center, column, 10px);
  @include m.color-font;

  @include m.respond-laptop {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .footer-name {
    text-align: center;

    @include m.respond-laptop {
      width: 270px;
      padding-right: 8px;
    }
  }

  .footer-links {
    width: 100%;
    max-width: 600px;
    @include m.flex(space-between, center);

    @include m.respond-large {
      justify-content: space-evenly;
      max-width: 340px;
    }

    a {
      @include m.color-font;
      transition: color 0.150s ease;

      &:active {
        color: c.$orange-four;
      }

      @include m.respond-laptop {
        &:hover {
          color: c.$orange-four;
        }
      }

    }
  }
}