html {
  height: auto; 
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  scroll-snap-type: none; 
  scroll-behavior: smooth; 
  overflow-y: auto;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'QuickFont';
  src: url('../public/assets/fonts/quick.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceFont';
  src: url('../public/assets/fonts/space.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EczarFont';
  src: url('../public/assets/fonts/eczar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
