html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'QuickFont';
  /* ../ springt aus dem src-Ordner raus, um in den public-Ordner zu kommen */
  src: url('../public/assets/fonts/quick.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceFont';
  src: url('../public/assets/fonts/space.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}