* {
  margin: 0;
  padding: 0;
}

html {
  height: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  min-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'QuickFont';
  src: url('../public/assets/fonts/quick.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceFont';
  src: url('../public/assets/fonts/space.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EczarFont';
  src: url('../public/assets/fonts/eczar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KarlaFont';
  src: url('../public/assets/fonts/karla.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}