html {
  height: 100%;
  overflow: hidden;         /* wichtig: verhindert html-scrolling */
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;       
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'QuickFont';
  src: url('../public/assets/fonts/quick.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceFont';
  src: url('../public/assets/fonts/space.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EczarFont';
  src: url('../public/assets/fonts/eczar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
