* {
  margin: 0;
  padding: 0;
}

html {
  height: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: hidden;
}

body {
  min-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'QuickFont';
  src: url('../public/assets/fonts/quick.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceFont';
  src: url('../public/assets/fonts/space.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EczarFont';
  src: url('../public/assets/fonts/eczar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KarlaFont';
  src: url('../public/assets/fonts/karla.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefineFont';
  src: url('../public/assets/fonts/josefine.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefineLightFont';
  src: url('../public/assets/fonts/josefineLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

app-landing-page {
  scroll-behavior: smooth;
}


button, 
a, 
input[type="submit"],
input[type="button"],
[role="button"],
.clickable {
    -webkit-tap-highlight-color: transparent;
    transition: all 0.2s ease-in-out;
    &:focus {
        outline: none;
    }
    &:focus-visible {
        outline: 2px solid orange; 
        outline-offset: 4px;
        border-radius: 4px;
    }

    &:focus {
        img {
            transform: scale(1.3);
        }
        .img-mobile.black {
            display: none !important;
        }
        .img-mobile.orange-mobile {
            display: block !important;
        }
    }

    &:active {
        opacity: 0.7;
    }
}