@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;

header {
  height: 72px;
  width: 100%;
  max-width: 530px;
  @include m.flex(space-between, center);

  @include m.respond-xsm360 {
   /*  max-width: 352px; */
   width: 100%;
    padding: 0;
  }

  @include m.respond-sm {
    height: 88px;
    max-width: 710px
  }

  @include m.respond-mid {
    @include m.flex(space-between, center);
    max-width: 934px;
  }

  @include m.respond-normal {
    max-width: 1199px;
    padding: 0 20px;
  }

  @include m.respond-large {
    max-width: 1399px;
  }

  @include m.respond-xl {
    max-width: 1599px;
  }

  @include m.respond-xxl {
    max-width: 1919px;
  }

  .header-left {
    display: none;

    @include m.respond-sm {
      display: flex;
      align-items: center;
      gap: v.$header-left-gap;
    }
  }

  nav {
    display: flex;
    align-items: center;
    padding-right: 10px;
    gap: 10px;

    @include m.respond-mid {
      padding-right: 20px;
    }
  }
    transition: background-color 0.2s ease;
}