@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
:host{
    width: 100%;
    height: 100%;
   /*  display: flex;
    align-items: center;
    flex-direction: column; */
    @include m.flex-col-center();
    border: 2px solid rgb(236, 26, 204);
    margin-top: 45px;
    padding-right: 2px;
}