@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;

:host {
    width: 100%;
    height: 100%;
    margin-top: 45px;
    @include m.flex-col-center();

    section {
        width: 100%;
        gap: 20px;

        @include m.respond-normal {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: row;
        }
    }
}

article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include m.respond-xxxl {
        align-items: flex-end;
    }
}