@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;

:host {
    width: 100%;
    height: 100%;
    margin: 45px 0 0 0;
    @include m.flex-col-center();

    @include m.respond-normal {
        margin: 20px 0 40px 0;
    }

    section {
        width: 100%;
        gap: 20px;

        @include m.respond-normal {
            @include m.flex(center, flex-start, row, 20px);
        }
    }
}

article {
    width: 100%;
    @include m.flex(center, center, column);
    padding: 0 16px;

    @include m.respond-xxxl {
        align-items: flex-end;
    }
}