@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;

:host {
  width: 100%;
  height: auto;    
  margin: 45px 0 0 0;
  @include m.flex-col-center();

  @include m.respond-normal {
    margin: 20px 0 40px 0;
  }

  @include m.respond-laptop {
    flex: 1;
    min-height: 0;
    margin: 0;     
    padding-left: 30px;
  }

section {
    width: 100%;
    gap: 20px;

    @include m.respond-normal {
      @include m.flex(center, flex-start, row, 20px);
    }

    @include m.respond-1280 {
      margin-top: 60px;
    }
  }
}

article {
  width: 100%;
  @include m.flex(center, center, column);
  padding: 0 16px;

   @include m.respond-normal {
    align-items: flex-end;
   margin-left: 20px;
  }

  @include m.respond-xxxl {
    align-items: flex-end;
    width:1000px;
    margin-left:50px;
  }
}