@use 'style-varibles/mixins' as m;

:host {
  margin: 55px 0 0px 0;
 @include m.flex(center, center, column);
  @include m.respond-laptop {
  @include m.flex(space-between, stretch, row);
    @include m.respond-laptop{
      padding-right: 15px;
    }
    @include m.respond-large{
      padding-right: 40px;
    }
  }

  article {
    display: contents; 
    @include m.respond-laptop {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 530px;
      order: 1;
    }

    app-contact-title, 
    app-contact-problem-content {
      order: 1;
    }

    app-two-icons {
      order: 3;
    }
  }

  section {
    display: contents;

    @include m.respond-laptop {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 830px;
      order: 2;
      align-items: center; 

      app-contact-email {
        margin-top: auto; 
      }

      app-footer {
        margin-top: 20px; 
      }
    }

    app-contact-email,
    app-footer {
      order: 2; 
    }
  }
}