@use 'style-varibles/mixins' as m;

:host {
  margin: 55px 0 0px 0;
  @include m.flex(center, center, column);

  @include m.respond-laptop {
    @include m.flex(space-between, stretch, row);

    @include m.respond-laptop {
      padding-right: 15px;
    }

    @include m.respond-large {
      padding-right: 40px;
    }
  }

  article {
    display: contents;

    @include m.respond-laptop {
      display: flex;
      flex-direction: column;
      max-width: 530px;
      order: 1;
    }

    app-contact-title,
    app-contact-problem-content {
      order: 1;
   
    }
    app-contact-title{
       @include m.respond-xxl{
        width:1000px;
      }
    }


    app-two-icons {
      order: 3;
    }
  }

  section {
    display: contents;

    @include m.respond-laptop {
      @include m.flex(center, flex-end, column);
      width: 100%;
      order: 2;

      app-contact-email {
        margin-top: auto;
      }

      app-footer {
        margin-top: 20px;
      }
    }

    app-contact-email,
    app-footer {
      order: 2;
    }
  }
}