 @use 'style-varibles/mixins' as m;
 @use 'style-varibles/fonts' as f;

:host {
    width: 100%;
    max-width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   
    align-self: flex-start;
 
    gap: 10px;
    margin-top: 25px;
    font-family: "QuickFont", monospace;
      @include m.respond-normal {
    
          gap:30px;
        }

}