 @use 'style-varibles/mixins' as m;
 @use 'style-varibles/fonts' as f;

 :host {
   width: 100%;
   max-width: 340px;
   @include m.flex(center, center, row, 10px);
   align-self: flex-start;
   margin-top: 25px;
   font-family: "QuickFont", monospace;

   @include m.respond-normal {
     gap: 30px;
   }
   
 }