 @use 'style-varibles/mixins' as m;
 @use 'style-varibles/fonts' as f;

 section {
     max-width: 300px;
     @include m.flex(center, center);
     padding: 12px 24px;
     border: 2px solid red;
     gap: 2px;
     margin-top: 20px;
     font-family: f.$font-second;
 }