@use 'style-varibles/variables' as v;
@use 'style-varibles/colors' as c;
@use 'style-varibles/mixins' as m;
@use 'style-varibles/fonts' as f;

:host {
  @include m.flex(center, flex-start);
  flex-direction: column;
  padding: 0 16px;

  h4 {
    font-size: 20px;
    font-family: f.$font-second;
    color: c.$orange-four;
    margin-bottom: 16px;
    font-weight: 700;
    @include m.respond-xxl{
      font-size:  32px;
    }
     @include m.respond-xxxl {
      margin-bottom: 30px;
   }
  }

  p {
    color: c.$light-beige;
    font-family: f.$font-second;
    font-weight: 400;
    height:20px;
     @include m.respond-xxl{
      font-size:  22px;
    }
  }
}